* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

#page-heading {
  text-align: left;
}

#palette-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#palette-title-label {
  margin-right: 0.2rem;
}

#palette-title {
  background-color: #595959;
  border-radius: 0.2rem;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 0.02rem;
}

#form-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


#palette-form {
  display: flex;
  background-color: #333333;
  width: 20rem;
  border-radius: 1rem;
  height: 20rem;
  margin-left: 33rem;
  margin-right: 33rem;
  flex-direction: column;
}

#color-input1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

#color-input2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

#color-input3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

fieldset {
  border: 0;
  margin-left: 1rem;
  display: flex;
  justify-content: space-evenly;
}

#form-button {
  margin-top: 2rem;
  background-color: #6b6b6b;
  color: #e5e5e5;
  border: none;
  width: 8rem;
  margin-left: 6rem;
}

#palette-container {
  display: flex;
  flex-direction: column;
}

#palettes-heading {
  display: flex;
  justify-content: center;
}

#palettes {
  margin-top: 2rem;
}

#palette-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.palette-card {
  /* border: #e5e5e5; */
  height: 18rem;
  width: 16rem;
  margin-top: 1rem;
  background-color: #333333;
  border-top-right-radius: 1rem;
}

.default-palette-heading {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

.neutral-tag {
  background-color: #555555;
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 2rem;
}

.cool-tag {
  background-color: #131e44;
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 2rem;
}

.warm-tag {
  background-color: #431112;
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 2rem;
}

.copy-button {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: -3rem;
  align-items: center;
  flex-wrap: wrap;
  background-color: #6b6b6b;
  border-style: none;
  color: #e5e5e5;
  font-size: 0.8rem;
  width: 6em;
  height: 2rem;

}

#hexcode {
  display: flex;
  flex-direction: row-reverse;
  background-color: #6b6b6b;
  color: #e5e5e5;
  border-style: none;
  font-size: 0.8rem;
}


.delete-button {
  background-color: #6b6b6b;
  color:#e5e5e5;
  border-style: none;
  display: flex;
  flex-direction: row;
  width: 6rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 4.8rem;
  margin-top: 2rem
}

.text {
  color: white;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  font-size: 0.8rem;
}

.examples {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  margin-left: 1rem;
  background: linear-gradient(to top, black 50%, white 50%)
}

#example1 {
  margin-left: 3rem;
  background-color: #c92929;
  height: 2rem;
  width: 7rem;
}

#example2 {
  margin-left: 3rem;
  background-color: #2f5a8b;
  height: 2rem;
  width: 7rem;
}

#example3 {
  margin-left: 3rem;
  background-color: #327a5f;
  height: 2rem;
  width: 7rem;
}

#example4 {
  margin-left: 3rem;
  background-color: #3A5199;
  height: 2rem;
  width: 7rem;
}

#example5 {
  margin-left: 3rem;
  background-color: #2F2E33;
  height: 2rem;
  width: 7rem;
}

#example6 {
  margin-left: 3rem;
  background-color: #D5D6D2;
  height: 2rem;
  width: 7rem;
}

#example7 {
  margin-left: 3rem;
  background-color: #A10115;
  height: 2rem;
  width: 7rem;
}

#example8 {
  margin-left: 3rem;
  background-color: #C0B2B5;
  height: 2rem;
  width: 7rem;
}

#example9 {
  margin-left: 3rem;
  background-color: #600A0A;
  height: 2rem;
  width: 7rem;
}